/* Write your code here. */

.main-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
}
.image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.main-heading {
  color: rgb(137, 45, 223);
  font-family: monospace;
  font-weight: bold;
  text-shadow: 1px 3px plum;
}
.main-image {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin: 10px;
}
.main-para {
  color: black;
  font-family: sans-serif;
}
